<div class="container-page">
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav gap-3">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/dashboard'" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/producers'" routerLinkActive="active">Produtores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" style="cursor: pointer;">Sair</a>
      </li>
    </ul>
  </div>
</nav>


  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <p>© 2025 Tharlles Silva Té, Inc</p>
  </footer>
</div>